
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.opacity-0{
    display:none;
}
/*Nav Mobile Starts*/
.navMobile{
    display:none;
}
/*Nav  Mobile Ends*/
.image-logo{
    width: 30%;
}
.landing-image{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.first-page{
  
    padding-bottom: 10%;
}

#particles-js {
    position: absolute;
    top: 8vh;
    object-fit: cover;
    width: 100%;
    left: 0;
    right: 0;
    color:white;
    opacity: 80%;
}
#particles-js:hover{
    opacity: 90%;
}
#logo-container-image{
    opacity: 0;
    transition: 0.3s ease;
}

/*header{
    display: fex;
    width: 100%;
    padding: 10px;
    margin: auto;
    align-items: center;
    height: 8vh;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right,#001C82 ,#091035);
    opacity: 1;
    z-index: 10000;/*Very Important Dont Remove Or Change Otherwise Nav will not work}*/
nav{
    flex: 1;
}
.nav-link{
    text-decoration: none;
    font-weight: 300;
    color: white;
}
.nav-link:hover{
    color:red;
}
main h1{
    font-size: 90px;
    text-transform: uppercase;
    color:white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
main{
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top:10%;
    position: absolute;
    top: 8vh;
    padding-left:8%;  
}


.text-animation{
    display: flex;
}
.text-animation h3{
    color: white;
    margin-left: 5px;
    font-weight: 400;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.para{
    width: 40%;
}
.para p{
    font-weight: 300;
    font-size: 20px;
    color: white;
}
.services{
    margin-top: 5vh;
   background-image: url(icons/background.svg);
   background-repeat: no-repeat;
   background-size: 15%;
   background-blend-mode: multiply;
}
.services-heading{
    width: fit-content;
    margin: auto;
}
.services-heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
    font-weight: 400;
    text-align: center;
}
.services-para{
    padding-top: 20px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: auto;
}
.container-outer{
    display: flex;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
    margin: 30px;
    align-content: center;
}
  
.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card img {
   border-radius: 5px 5px 0 0;
   display: flex;
   justify-content: center;
   margin: auto;
   padding-top: 10px;
}
  
.container {
    padding: 10px;
    text-align: center;
}

.container h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}
.container p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Nav Starts*/
.mainList{
    display:grid;
    grid-template-columns: repeat(10,minmax(50px,auto));
    list-style: none;
    grid-template-rows: 40px;
    grid-template-areas: 
    " logo . . . . about services solution case blog "
    ;
    width: 100%;
    padding: 10px;
    align-items: center;
    position: fixed;
    top:0px;
    background-image: linear-gradient(to right,#001C82 ,#091035);
    opacity: 1;
    z-index:1000;/*This Line Is Super Important For The Nav To Work So Dont Remove It OtherWise Links Will Not Work.*/
}
.mainList li ul li {
    list-style:none;
}
.navServices{
    width: fit-content;
}
.mainList .navServices:hover .subListServices{
    display:grid;
    grid-template-columns: repeat(3,250px);
    position: absolute;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-left:-30%;
    margin-top:8px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
}
.subListServices li a {
    background:linear-gradient(to right,rgb(151, 147, 147),rgb(136, 134, 143)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.subListServices li a:hover{
    background:linear-gradient(to right,rgb(48, 47, 49),rgb(28, 29, 29)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.subListServices{
    display:none;
}
.mainList li .subListServices li{
    display:grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}
.mainList li a{
    color:rgb(206, 206, 206);
    text-decoration: none;

}
.mainList li a:hover{
    color: white;
}
.mainList li img{
    width:90%;
}
/*Nav Ends*/

.footer-services a, .footer-solutions a, .footer-corporate a, .footer-about a, .footer-careers a{ 
    text-decoration: none;
    color: rgb(201, 201, 201);
}
.footer-services h3, .footer-solutions h3, .footer-corporate h3, .footer-about h3, .footer-careers h3{ 
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.footer-heading{
    color: white;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-image: linear-gradient(to bottom, #001C82 ,#091035);
}
.line{
    border-left: 2px solid rgb(63, 202, 248);
    height: contain;
}
.container-content{
    display: flex;
}
.footer-content{
    margin-left: 10px;
 }
.footer-content h3{
    font-size: medium;
    margin-top: 10px;
}
.footer-content h3:hover{
    color: white;
}

.logos-ai, .logos-framework, .logos-data, .logos-deep, .logos-cloud, .logos-languages, .logos-mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}


.logos-ai img, .logos-data img, .logos-framework img, .logos-deep img, .logos-languages img, .logos-mobile img, .logos-cloud img{
    width: 18%;
    padding: 5px;
}
.opencv-image{
    width: 10% !important; 
}
.logo-android{
    width: 10% !important;
}
.tools-stack{
    margin-top: 100vh;
    width: 90%;
    margin: auto;
}

.tools-heading{
    padding-top: 5vh;
    justify-content: center;
    margin: auto;
}


.right-part{
    display: flex;
    justify-content: space-around;
}

.forBusiness, .forIntern{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
}
.contactUs{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.hLine{
    border-top: 2px solid rgb(202, 205, 206);
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto 5vh;
}
.first, .second{
    padding-top: 20px;
}
.info-mail, .contact-mail{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
  }
  
.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #001C82;
    color: white;
  }
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

.tabcontent {
    animation: fadeEffect 1s; 
}
.tools-heading{
    width: fit-content;
}
.underline{
    border-top: 2px solid #001C82;
    padding-bottom: 20px;
    width: 60%;
    margin: auto;
}

.logo-java{
    width: 8% !important;
    padding-left: 20px !important;
}

/*Hire*/
.hire{
    background-image: linear-gradient(to right,  #001C82 ,#091035);
    padding: 5vh;
}
.hire-card{
    width: 30%;
}
.hire-heading{
    text-align: center;
    width: fit-content;
    margin: auto;
}
.hire-heading h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}
.underline-hire{
    border-top: 2px solid rgb(159, 178, 250);
    padding-bottom: 20px;
    width: 50%; 
    margin: auto;
}

.hire-card{
    background-color: white;
}

/*Hire end*/

/*ESR*/
.container-esr{
    display: flex;  
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}
.enterprise, .startup, .research{
    width: 20%;    
}
.enterprise h2, .startup h2, .research h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.enterprise p, .startup p, .research p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: rgb(66, 66, 66);
}
.heading-esr{
    width: fit-content;
    margin: auto;
}
.heading-esr h2{
    text-align: center; 
    margin: auto; 
    font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 30px; 
    margin-top: 20px; padding: 10px;
}
.underline-esr{
    border-top: 2px solid #001C82;
    width: 50%;
    margin: auto;
}
/*End of ESR*/

/*CTA*/
.cta{
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    padding: 20px;
    padding-bottom: 30px;
    color: white;
}
.cta-left{
    width: 60%;
}
.cta-left button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.cta-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.part-time, .full-time, .hourly{
    align-content: center;
    text-align: center;
}
.cta-left h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.cta-left p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.part-time img{
    color: white;
}
/*End of CTA*/

/*-------------------------------------------------------------Contact Us Starts*/
.inputBox{
    position:relative;
    
}
.inputBox label{
    position: absolute;
    left:0px;
    width:100%;
    height:100%;
    pointer-events:none;
    border-bottom: 1px solid rgb(168, 162, 162);
}
.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition:all 0.3s ease;
}
.inputBox input:focus + .label-name .content-name , .inputBox select:focus + .label-name .content-name ,.inputBox select:valid + .label-name .content-name,.inputBox input:valid + .label-name .content-name{
    transform:translateY(-120%);
    font-size:14px;
    color:#5fa8d3;
}

.inputBox input:focus + label::after,.inputBox select:focus + label::after,.inputBox select:valid + label::after,.inputBox input:valid + label::after {
    transform:translateX(0%);
}
.inputBox label::after{
    content:"";
    position: absolute;
    left:0px;
    bottom:-1px;
    width:100%;
    height:100%;
    pointer-events:none;
    border-bottom: 3px solid #5fa8d3;
    transform:translateX(-100%);
    transition:0.3s;
}
.inputBox{
    overflow:hidden;
}
input,select {
    border-style:none;
    width:100%;
    height:100%;
    padding-top:20px;
    outline:none;
}
.contentWrap{
    display:grid;
    grid-template-columns: 1fr 3fr; 
}
.reasonRadioBtn{
    display:grid;
    grid-template-columns: repeat(2,minmax(10px,auto));
    margin-left:20px;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "reasonT reasonT"
    "businessI businessT"
    "alliancesI alliancesT" 
    "careerI careerT"
    ;
}
#selectbox:selected{
    background-color: white;
}
.contactWrap .form{
    display:grid;
    margin-right: 40px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap:5px;
    grid-template-rows: repeat(6,50px);
    grid-template-areas: 
    ". . ."
    "nameBox emailBox contactBox"
    "descriptionBox descriptionBox descriptionBox"
    "resumeBox selectBox ."
    "captcha . ."
    ". . ."
    "submitBtn . ."
    ;
}
.contactWrap{
    margin-top:60px;
    margin-bottom:60px;
}
.contactWrap h3{
    text-align: center;
    font-size: 1.2em;
}
.contactWrap h2{
    margin:30px;
    padding-bottom:10px;
}
hr{
    width:84%;
    margin-left:8%;
    color: rgb(170, 164, 164);
}
.submit{
    width:150px;
    height: 40px;
    border-style:none;
    color:white;
    background-color:#5fa8d3;
}
.submit:hover{
    background-color:#158ace;
}
/*-------------------------------------------------------------Contact Us Ends*/


@media screen and (max-width : 800px){
    .navWrapper{
        display:none;
    } 
    /*Nav Mobile Starts*/
    
    .nav-link{
        color: rgb(197, 197, 197);
        text-decoration: none;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
    }
    .nav-link:hover{
        color:white;
    }
    .logo-container{
        flex: 1;
        padding: 10px;
    }
    .navMobile{
        display:contents;
    }
    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.5s ease;
        opacity: 0;
    }
    html,body{
        overflow-x: hidden;
    }
    .nav-link{
        transform: translateX(100%);
    }
    .nav{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        color:white;
        background-image: linear-gradient(to right,#001C82 ,#091035);
        height:60px;
        z-index:9999;
    }
    .nav-links{
        transform: translateX(200%);
    }
    .nav .logo{
        position:absolute;
        padding:10px;
    }
    .nav .burger{
        position:absolute;
        right:10px;
        pointer-events:all;
        z-index:100000;
        top:15px;
        cursor:pointer;
    }
    .nav-links{
        display:grid;
        width: 100%;
        text-align:center;
        position: fixed;
        right: 0;
        min-height: calc(100vh - 60px);
        max-height: fit-content;
        top: 60px;
        background-image: linear-gradient(to right,rgb(46, 45, 45) ,#222424);
        opacity:1;
        justify-items:center;
        align-items: center;
        transition: transform 0.5s ease-in;
    }
    .nav-link{
        opacity: 0;
    }
    .burger div{
        opacity: 1;
    }
    
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}    
    /*Nav Mobile Ends*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width : 1024px) {
    main{
        flex-direction: column;
        align-content: center;
    }
    main h1{
        font-size: 60px;
    }
    .para{
        width: 70%;
    }
    .services-para{
        width: 80%;
    }
    .foooter{
        flex-direction: column;
    }
   .logos-data img, .logos-framework img, .logos-deep img, .logos-languages img, .logos-mobile img{
        width: 15%;
        padding: 5px;
    }
    .logos-ai img{
        width: 14%;
        padding: 5px;
    }
    .enterprise, .startup, .research{
        width: 200%;
    }
    .enterprise h2, .startup h2, .research h2{
        font-size: 40px;
        padding-top: 10px;
    }
    .enterprise p, .startup p, .research p{
        font-size: 20px;
    }
}


@media screen and (max-width : 1500px){
    .card{
        width: 20%;
        transition: 0.3s ease-in;
    }
    .services{
        background: none;
    }
    .main{
        margin-top: 40vh;
    }
    .logos-ai img, .logos-data img, .logos-framework img, .logos-deep img, .logos-languages img, .logos-mobile img, .logos-cloud img{
        width: 12%;
        padding: 5px;
    }
    .enterprise, .startup, .research{
        width: 20%;
    }
    .enterprise h2, .startup h2, .research h2{
        font-size: 40px;
        padding-top: 20px;
    }
    .enterprise p, .startup p, .research p{
        font-size: 30px;
    }
    
}

@media screen and (max-width : 900px){
    .contactWrap .form{
        grid-template-columns: repeat(2,1fr);
        margin:30px;
        grid-template-areas: 
        ". . " 
        "nameBox contactBox"
        "emailBox selectBox"
        "descriptionBox  descriptionBox"
        "resumeBox ."
        ".  ."
        "captcha submitBtn"
        ;
    }
    
}
@media screen and (max-width : 600px){
    .container-outer{
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .card{
        width: auto;
    }
    .tab button{
        padding: 5px;
    }
    .logos-ai img,.logos-framework img, .logos-deep img, .logos-languages img, .logos-mobile img, .logos-data img, .logos-cloud img{
        width: 30%;

    }
    .logos-framework, .logos-data, .logos-deep, .logos-cloud, .logos-languages, .logos-mobile{
       flex-direction: column;
        
    }
    .logos-ai-1,.logos-ai-2, .logos-database, .logos-testing{
        display: flex;
        flex-direction: column;
    }
    .logos-ai-1 img, .logos-ai-2 img, .logos-database img, .logos-testing img{
        width: 60% !important;
        margin-top: 10px;
    }
    .tools-ai, .tools-ai-framework, .tools-data{
        display: flex;
    }
    .logo-r{
        width: 20% !important;
    }
    .logo-java{
        width: 20% !important;
    }
    .logo-android{
        width: 25% !important;
    }
    .tab{
        flex-direction: column;
    }
    .contactWrap .form{
        display:grid;
        margin:30px;
        grid-template-rows: repeat(8,minmax(50px, auto));
        grid-template-columns:1fr;
        grid-template-areas: 
        "." 
        "nameBox"
        "emailBox"
        "contactBox"
        "descriptionBox" 
        "selectBox"
        "resumeBox"
        "captcha"
        "submitBtn"
          ;
    }
    .contentWrap{
        display:grid;
        grid-template-columns: 1fr; 
    }
    .container-esr{
        flex-direction: column;
    }
    .enterprise, .startup, .research{
        width: 90%;
        margin: auto;    
    }
    .enterprise h2, .startup h2, .research h2{
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
    }
    .enterprise p, .startup p, .research p{
        text-align: center;
        font-size: 20px;
    }
}
@media screen and (max-width : 1000px){
    .mainList .navServices:hover .subListServices{
        display:grid;
        grid-template-columns: repeat(2,250px) !important;
        margin-left: -30% !important;
    }
}
@media screen and (max-width : 1300px){
    .mainList .navServices:hover .subListServices{
        display:grid;
        grid-template-columns: repeat(3,250px) !important;
        margin-left: -40% !important;
    }
}
@media screen and (max-width : 1200px){
    .mainList .navServices:hover .subListServices{
        display:grid ;
        grid-template-columns: repeat(3,250px) !important;
        margin-left:-50% !important;
    }
}
@media screen and (max-width : 1000px){
    .mainList .navServices:hover .subListServices{
        display:grid;
        grid-template-columns: repeat(2,250px) !important;
        margin-left: -35% !important;
    }
}